* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

nav {
  background-color: rgb(103, 102, 107);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.links {
  text-decoration: none;
  margin: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

/* Form styling */
.createBlog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.createBlog-container--form {
  background-image: linear-gradient(
    to right,
    rgba(206, 206, 206, 0.3),
    rgba(190, 190, 190, 0.8)
  );
  padding: 40px;
  box-shadow: 3px 3px 3px 3px #948d8d;
  border-radius: 10px;
}
.formGroup {
  margin: 8px 0px 20px 0px;
}

.inputs {
  width: 350px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #c2bdbd;
}

.btnAdd {
  background-color: rgb(116, 116, 216);
  border: none;
  border-radius: 12px 5px 12px 5px;
  padding: 12px 18px 12px 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

/* Blog view */

.blog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(177, 159, 159) 10px 5px 10px;
  margin-top: 12px;
}

.blogTxtTitle {
  margin-top: 2px;
  font-size: 22px;
  text-align: center;
}
.blogTxtBlog {
  margin-top: 2px;
  font-size: 14px;
  color: rgb(139, 134, 134);
  text-align: center;
}

.blogTxtAuthor {
  margin-top: 2px;
  font-size: 14px;
  color: rgb(58, 55, 55);
  font-family: italic;
  text-align: center;
}

.blog-buttons {
  margin-top: 8px;
  padding: 5px;
  text-align: center;
}

.btnBlogUpdate {
  padding: 8px 14px 8px 14px;
  margin: 3px;
  background-color: rgb(94, 199, 231);
  border: none;
  border-radius: 10px;
}

.btnBlogDelete {
  padding: 8px 14px 8px 14px;
  margin: 3px;
  background-color: rgb(240, 80, 40);
  color: #fff;
  border: none;
  font-size: 14px;
  border-radius: 10px;
}

.updateLink {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

/* START:Login */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 500px;
}
.login-box {
  background-image: linear-gradient(
    to right,
    rgba(206, 206, 206, 0.3),
    rgba(190, 190, 190, 0.8)
  );
  padding: 50px;
  box-shadow: 3px 3px 3px 3px #948d8d;
  border-radius: 10px;
}

.Login-box-text {
  text-align: center;
  color: rgb(71, 70, 70);
}

.login-formGroup {
  margin: 8px 0px 20px 0px;
}

.login-formGroup_label {
  font-size: 16px;
  font-weight: 600;
  margin: 5px;
  color: rgb(71, 70, 70);
}
.login-inputs {
  width: 350px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background-color: #c2bdbd;
}

.btnLogin {
  background-color: rgb(116, 116, 216);
  border: none;
  border-radius: 12px 5px 12px 5px;
  padding: 12px 18px 12px 18px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.btnLogin:hover {
  background-color: rgb(66, 66, 206);
}

.btnSigin-div {
  float: left;
}
.signUp-div {
  float: right;
}

.signUp-text {
  text-decoration: none;
  color: rgb(71, 70, 70);
  font-size: 14px;
  font-weight: 600;
}

.signUp-text:hover {
  color: rgb(245, 59, 59);
}
